NEXT_PUBLIC_SITE_URL=https://agama-3d-studio.vercel.app

NEXT_PUBLIC_IS_VAT_PAYER=false
NEXT_PUBLIC_VAT_RATE=0.23

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

RESEND_API_KEY=
EMAIL_FROM="Agama 3D Studio <objednavky@vasa-domena.sk>"

GOPAY_GOID=
GOPAY_CLIENT_ID=
GOPAY_CLIENT_SECRET=
